<div class="shop-bar-area pb-60">
    <div class="shop-bar">
        <div class="shop-found-selector">
            <div class="shop-found">
                <p><span>23</span> Product Found of <span>50</span></p>
            </div>
            <div class="shop-selector">
                <label>Sort By : </label>
                <select name="select">
                    <option value="">Default</option>
                    <option value="">A to Z</option>
                    <option value=""> Z to A</option>
                    <option value="">In stock</option>
                </select>
            </div>
        </div>
        <div class="shop-filter-tab">
            <div class="shop-filter">
                <a class="shop-filter-active" href="#">Filters <i class="ion-android-options"></i></a>
            </div>
            <div class="shop-tab nav" role=tablist>
                <a class="active" href="#grid-5-col1" data-toggle="tab" role="tab" aria-selected="false">
                    <i class="ion-android-apps"></i>
                </a>
                <a href="#grid-5-col2" data-toggle="tab" role="tab" aria-selected="true">
                    <i class="ion-android-menu"></i>
                </a>
            </div>
        </div>
    </div>
</div>