{% load staticfiles %}
{% load static %}
<div class="shop-sidebar" style="padding-top: 50px; margin-bottom: 50px">
    <div class="sidebar-widget mb-50">
        <h3 class="sidebar-title">Search Products</h3>
        <div class="sidebar-search">
            <form action="#">
                <input placeholder="Search Products..." type="text">
                <button><i class="ion-ios-search-strong"></i></button>
            </form>
        </div>
    </div>
    <div class="sidebar-widget mb-45">
        <h3 class="sidebar-title">Categories</h3>
        <div class="sidebar-categories">
            <ul>
                {% for item in catalog %}
                    <li><a href="{% url 'catalog' id=item.name  %}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="sidebar-widget mb-45">
        <h3 class="sidebar-title">Brand</h3>
        <div class="sidebar-categories">
            <ul>
                {% for i in brand  %}
                    <li>
                        <h4>
                            <a href="product/catalog/{{ i.id }}">{{ i.name }}</a>
                        </h4>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
