{% load staticfiles %}
{% load static %}

<div class="modal fade" id="requireLogin" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="ion-android-close" aria-hidden="true"></span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center" style="width: 100%">
                    <h4>PLEASE LOGIN TO BUY THIS PRODUCT</h4>
                </div>

            </div>
            <div class="modal-footer">
                <div class="cart-checkout-btn">
                    <a href="#" id="no_btn" class="btn-hover cart-btn-style" data-dismiss="modal">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>