<div class="modal fade" id="addressConfirm" tabindex="1" role="alert" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="top: 150px">
            <div class="modal-body ">
                <h4 id="content_confirm" class="text-center"></h4>
                <div class="cart-checkout-btn">
                    <a href="#" id="no_btn" class="btn-hover float-md-right cart-btn-style" data-dismiss="modal">No</a>
                    <a href="#" id="yes_btn" class="btn-hover cart-btn-style">Yes</a>
                </div>
            </div>
        </div>
    </div>
</div>