{% include 'header.html' %}
{% load static %}
{% load staticfiles %}

<div class="container">

    <div class="your-order" style="background-color: white">
        <h3 style="margin-top: 150px" class="text-center">Your order</h3>
        <div class="your-order-table table-responsive">
            <table>
                <thead>
                <tr>
                    <th class="product-name">Product</th>
                    <th class="product-total">Quantity</th>
                    <th class="product-total">Price</th>
                    <th class="product-total">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for i in order_item %}
                    <tr class="cart_item">
                        <td class="product-name">
                            {{ i.item.name }}
                        </td>
                        <td class="product-total">
                            {{ i.quantity }}
                        </td>
                        <td class="product-total">
                            {{ i.item.price }}
                        </td>
                        <td class="product-total">
                            <span class="amount">$ {{ i.get_total }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr class="order-total">
                    <th><strong>Order Total</strong></th>
                    <th></th>
                    <th></th>
                    <th><strong><span class="amount">$ {{ total }}</span></strong>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="payment-method">
            <div class="payment-accordion">
                <div class="text-center">
                    <a style="background-color: black; color: #dddddd" class="cart-btn-style btn-hover"
                       href="/check-out/{{ order_id }}">
                        CHECKOUT
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}