{% include 'header.html' %}
{% load static %}
{% load staticfiles %}

<div class="container">

    <div class="your-order">
        <h3 style="margin-top: 150px" class="text-center">Your order</h3>
        <div class="your-order-table table-responsive">
            <table>
                <thead>
                <tr>
                    <th class="product-name">Product</th>
                    <th class="product-total">Quantity</th>
                    <th class="product-total">Price</th>
                    <th class="product-total">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for i in order_item %}
                    <tr class="cart_item">
                        <td class="product-name">
                            {{ i.item.name }}
                        </td>
                        <td class="product-total">
                            {{ i.quantity }}
                        </td>
                        <td class="product-total">
                            {{ i.item.price }}
                        </td>
                        <td class="product-total">
                            <span class="amount">$ {{ i.get_total }}</span>
                        </td>
                    </tr>
                {% endfor %}}
                </tbody>
                <tfoot>
                <tr class="order-total">
                    <th><strong>Order Total</strong></th>
                    <th></th>
                    <th></th>
                    <th><strong><span class="amount">$ {{ total }}</span></strong>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="payment-method">
            <div class="payment-accordion">
                <div class="panel-group" id="faq">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title"><a data-toggle="collapse" aria-expanded="true"
                                                       data-parent="#faq" href="#payment-1">Direct Bank
                                Transfer.</a></h5>
                        </div>
                        <div id="payment-1" class="panel-collapse collapse show">
                            <div class="panel-body">
                                <p>Make your payment directly into our bank account. Please use your Order ID as
                                    the
                                    payment reference. Your order won’t be shipped until the funds have cleared
                                    in
                                    our account.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title"><a class="collapsed" data-toggle="collapse"
                                                       aria-expanded="false" data-parent="#faq"
                                                       href="#payment-2">Cheque
                                Payment</a></h5>
                        </div>
                        <div id="payment-2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Make your payment directly into our bank account. Please use your Order ID as
                                    the
                                    payment reference. Your order won’t be shipped until the funds have cleared
                                    in
                                    our account.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title"><a class="collapsed" data-toggle="collapse"
                                                       aria-expanded="false" data-parent="#faq"
                                                       href="#payment-3">PayPal</a>
                            </h5>
                        </div>
                        <div id="payment-3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Make your payment directly into our bank account. Please use your Order ID as
                                    the
                                    payment reference. Your order won’t be shipped until the funds have cleared
                                    in
                                    our account.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-button-payment">
                    <input type="submit" value="Place order"/>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% include 'footer.html' %}