{% load staticfiles %}
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/ionicons.min.css' %}">

<div class="container text-center" style="margin-top: 12%">
    <div class="login" style="background-color: #f5f5f5">
        <div class="login-form-container text-center">
            <h1 class="ion-checkmark-circled"></h1><br>
            <h3>REGISTER YOUR ACCOUNT</h3>
            <h4>Your account has been successfully registered</h4>
            <div class="order-button-payment" style="margin-top: 15px">
                <a href="/login" class="btn-hover cart-btn-style" style="text-decoration: none">return login page</a>
            </div>
        </div>
    </div>
</div>
