{% load static %}


<div class="row" style="margin: 0">
    {% include 'manager/sidebar.html' %}
    <div class="col-sm-10">
        <ul class="breadcrumb" style="margin-top: 20px">
            <a href="/brand" style="text-decoration: none">
                <i class="glyphicon glyphicon-arrow-left"></i> Back
            </a>
        </ul>
        <div class="login_form_container">
            {% if result %}
                <div class="alert alert-success alert-dismissible" style="margin-top: 15px">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success</strong>
                </div>
            {% endif %}
            {% if error %}
                <div class="alert alert-danger alert-dismissible" style="margin-top: 15px">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ error }}</strong>
                </div>
            {% endif %}
            <div class="login_form">
                {% if id %}
                    <form action="{% url 'submit-brand' id %}" method="post">
                        {% csrf_token %}

                        {{ brand_form.as_p }}

                        <div class="text-center">
                            <button class="btn btn-info">Save</button>
                            <button class="btn btn-warning" type="reset">Cancel</button>
                        </div>
                    </form>
                {% else %}
                    <form action="{% url 'execute-brand' %}" method="post">
                        {% csrf_token %}
                        {{ brand_form.as_p }}
                        <div class="text-center">
                            <button class="btn btn-info">Save</button>
                            <button class="btn btn-warning" type="reset">Cancel</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>

    </div>
</div>
