<div class="modal fade" id="orderConfirm" tabindex="1" role="alert" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content" style="top: 150px">
          <div class="modal-body ">
              <h4 id="content_confirm" class="text-center"></h4>
              <div class="text-right">
                <button type="button" style="background-color:#008CBA; font-weight: bold;" href="#" id="yes_btn" class="btn-hover btn btn-dark cart-btn-style">Yes</button>
                <button type="button" style="background-color:#f44336; font-weight: bold;" href="#" id="no_btn" class="btn-hover btn btn-dark float-md-right cart-btn-style" data-dismiss="modal">No</button>                  
              </div>
          </div>
      </div>
  </div>
</div>