{% load static %}

<div style="margin-top: 15px">
    <div class="pull-right" style="width: 250px; margin-bottom: 15px">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
    </div>
    <table class="table table-hover text-center">
        <thead>
        <tr class="active">
            <th class="text-center">VIEW</th>
            <th class="text-center">ID</th>
            <th class="text-center">DATE</th>
            <th class="text-center">CUSTOMER</th>
            <th class="text-center">TOTAL</th>
            <th class="text-center">ADDRESS</th>
            <th class="text-center">ACTION</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {#        {% for item in waiting_orders %}#}
        {#            <tr>#}
        {#                <td>#}
        {#                    <a href="{% url 'show-order-info' item.id %}">view detail</a>#}
        {#                </td>#}
        {#                <td>{{ item.id }}</td>#}
        {#                <td>{{ item.created|date }}</td>#}
        {#                <td style="max-width: 250px">#}
        {#                    {{ item.user.first_name }} {{ item.user.last_name }}#}
        {#                </td>#}
        {#                <td>{{ item.total }}$</td>#}
        {#                <td style="max-width: 250px">#}
        {#                    <address>#}
        {#                        number {{ item.address.number_address }}, {{ item.address.street }} street,#}
        {#                        {{ item.address.ward }} ward, {{ item.address.district }} district,#}
        {#                        {{ item.address.provice }} provide(city)#}
        {#                    </address>#}
        {#                </td>#}
        {#                <td style="width: 400px">#}
        {#                    <form action="" class="form-inline">#}
        {#                        <select class="form-control" name="" id="">#}
        {#                            <option value="" disabled selected>Waiting</option>#}
        {#                            <option value="Shipping">Shipping</option>#}
        {#                            <option value="Complete">Complete</option>#}
        {#                            <option value="Cancel">Cancel</option>#}
        {#                        </select>#}
        {#                        <button class="btn btn-warning" type="reset">Cancel</button>#}
        {#                        <button class="btn btn-success">Confirm</button>#}
        {#                    </form>#}
        {#                </td>#}
        {#            </tr>#}
        {#        {% endfor %}#}
        {% for item in list_item %}
            <tr>
               {{ item }}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pull-right">
        <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
