<div style="margin-top: 15px">
    <div class="pull-right" style="width: 250px; margin-bottom: 15px">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
    </div>
    <table class="table table-hover text-center">
        <thead>
        <tr class="active">
            <th class="text-center">ID</th>
            <th class="text-center">DATE</th>
            <th class="text-center">DETAIL</th>
            <th class="text-center">TOTAL</th>
            <th class="text-center">ADDRESS</th>
            <!-- <th class="text-center">ACTION</th> -->
        </tr>
        </thead>
        <tbody id="myTable">
          {% for item in order %}
            {% if item.status == 'complete' %}
                <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.created }}</td>
                <td>
                    <a href="/show-order-detail/{{ item.id }}">
                        <i class="glyphicon glyphicon-list"></i> detail
                    </a>
                </td>
                <td>{{ item.total }}$</td>
                <td style="max-width: 250px">                  
                    {% for add in address %}
                        {% if add.id == item.address_id %}
                            <address>
                                {{ add.number_address }}
                                {{ add.street }} street,
                                {{ add.ward }} ward,
                                {{ add.district }} district,
                                {{ add.provice }}
                            </address>
                        {% endif %}
                    {% endfor %}                  
                </td>
                <!-- <td style="width: 400px">
                    <form action="" class="form-inline">
                        <select class="form-control" name="" id="">                          
                            <option value="Complete"disabled selected>Complete</option>                                                
                        </select>
                        <button class="btn btn-dark" type="reset">Cancel</button>
                        <button class="btn btn-dark">Confirm</button>
                    </form>
                </td> -->
                </tr>
            {% endif %}
          {% endfor %}      
        </tbody>
    </table>
    <div class="pull-right">
        <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>
  </div>
  
  <script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
  </script>
  <script>
    function view_order_detail(id) {
        $("#order_detail_content").text(id)
    }
  </script>