<div class="modal fade" id="orderConfirm"  tabindex="-1" role="dialog">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="ion-android-close" aria-hidden="true"></span>
    </button>
    <div class="modal-dialog" role="alert">
        <div class="modal-content">
            <div class="modal-body">
                <h4 id="order_confirm_text"></h4>
                <div class="cart-checkout-btn">
                    <a href="#" id="confirm_btn_yes" class="btn btn-info">Yes</a>
                    <a href="#" class="btn btn-warning"  data-dismiss="modal">No</a>
                </div>
            </div>
        </div>
    </div>
</div>
