{% load staticfiles %}
<link rel="stylesheet" href="{% static 'assets/css/manager.css' %}">

<div class="col-sm-2" style="padding-left: 0px">
    <ul class="nav nav-stacked sidebar-wrapper">
        <li role="presentation">
            <a href="#" style="color: black; padding-left: 40px">
                <i class="glyphicon glyphicon-home" style="padding-right: 15px"></i> Home
            </a>
        </li>
        <li role="presentation">
            <a href="#" style="color: black; padding-left: 40px">
                <i class="glyphicon glyphicon-tasks" style="padding-right: 15px"></i> Order
            </a>
        </li>
        <li role="presentation">
            <a href="#" style="color: black; padding-left: 40px">
                <i class="glyphicon glyphicon-briefcase" style="padding-right: 15px"></i> Product
            </a>
        </li>
    </ul>
</div>
